extends layout

block content
  h1= title

  div.container-fluid 
    div.row
      div.col
        form#formPrint(action='/print', method='POST')
          textarea.text-for-print#textForPrint(name="textForPrint", cols="60", rows="20") 
          // button.btn.btn-primary Печать временная
    div.row
      div.col
        button.btn.btn-primary#btnPrint Печать
  script(src='./index.page.js')


