doctype html
html
  head
    title= title
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type="image/png", href='/images/receipt64.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/bootstrap/css/bootstrap.css")
    
    script(src='/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/jquery/jquery.min.js')
    script(src='/jquery.imagehalftone.js')
    block scripts
  body
    block content
    block modals
