block addModal
  .modal.fade#editProdModal(tabindex="-1")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Изменить товар
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
        .modal-body
          form#editProdForm(action="addedit")
            input#prodId(type="hidden", name="prodId")
            input#groupId(type="hidden", name="groupId")
            input#elId(type="hidden", name="elId")
            input#templateName(type="hidden", name="templateName")
            .mb-3
              label.form-label(for="prodName") Название товара
              input.form-control#prodName(type="text", aria-describedby="prodNameHelp", name="prodName") 
              .form-text#prodNameHelp До 50 символов
            .mb-3
              span=addCountType
              select.form-select#addCountType(aria-label="Default select example", name="addCountType")
                option(value="0") Поштучно
                option(value="1") По 100 грамм
                option(value="2") По 500 грамм
            .mb-3 
              .input-group
                input.form-control#imageUrl(type="text", aria-label="Изображение из URL", aria-describedby="buttonImageFromUrl")
                button.btn.btn-outline-secondary#buttonImageFromUrl(type="button") Загрузить
            | Ctrl+c - вставить из буфера обмена 
            .mb-3 
              img(id="prodImg" src="#" alt="Картинка товара", style="width:200px")
        .modal-footer
          button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Закрыть
          button.btn.btn-primary#applyProdEdit(type="button") Сохранить
  //- block scripts
  script(src='/shoppinglistcommon.page.js')

              



    